.max-width-cabecalho{
    display: none;
}
.form-cabecalho-2{
    display: none;
}
@media(max-width:569px){
    .form-cabecalho-1{
        display: none;
    }
    .form-cabecalho-2{
        display: block;
    }
}

.form-cabecalho-display{
    display: none;
}